<ion-content [fullscreen]="true">
  <div class="outerDiv">
    <!-- Left Icon -->
    <img src="assets/Vector.png" alt="Left Icon" class="icon-left" (click)="goBack()" />

    <!-- Right Icon -->
    <img src="assets/question.png" alt="Right Icon" class="icon-right" />
    <!-- Heading -->
    <div class="heading-container">
      <h1 class="heading1">Sign Up with Phone and Email</h1>
    </div>
    <div class="form-container">
      <form>
        <!-- Phone Number Input -->
        <ion-item class="input-item">
          <ion-label position="floating"class="numberText">Phone Number</ion-label>
          <ion-input class="placeholderText" type="text" placeholder="Enter phone number" required></ion-input>
        </ion-item>
      </form>
    </div>
    <div class="notification-preference">
      <span class="notification-text">I don’t want to get news, good deals and gifts from App.</span>
      <ion-checkbox class="notification-checkbox" slot="end"></ion-checkbox>
    </div>
    <div class="notification-preference">
      <span class="letterText">When I’m subscribed. I can opt out by contacting with this app or via link in the newsletter.</span>
    </div>
    <div class="signupButton">
      <button class="signup-button">Send OTP</button>
    </div>
  </div>  
</ion-content>
