 .splash-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  .splash-logo {
    width: 150px;
    height: 100px;
  }