<ion-content>
  <div class="outerDiv">
    <div class="container">
      <div class="left">
        <img 
          src="assets/backArrow.png" 
          alt="Image" 
          class="backArrowimage" 
          (click)="goBack()">
      </div>
      <div class="center">
        <span class="name">{{ properties?.property_name || 'Loading...' }}</span>
      </div>
      <i 
      [class]="isIconFilled(properties) ? 'fas fa-heart filled' : 'far fa-heart'" 
      (click)="toggleIcon($event, properties)" 
      class="top-right-icon"
      ></i>
      <div class="right"></div>
    </div>
    
      <div class="swiper-container image-slider">
        <div class="swiper-wrapper property-card">
          <div class="swiper-slide" *ngFor="let imagePath of properties?.image_paths">
            <img [src]="imagePath" alt="Property Image" class="property-image">
          </div>
        </div>
        <!-- Add pagination -->
        <div class="swiper-pagination"></div>
      </div>
      
      <div class="property-header">
        <h2 class="propertyTitle">{{ properties?.property_name }}</h2>
        <!-- <img src="assets/pdfIcon.png" alt="Icon" class="property-icon1" (click)="downloadPdf()"> -->
      </div>
      
      <div class="location-info">
        <img src="assets/location_icon.svg" alt="Location Icon" class="location-icon">
        <span class="property-address">{{ properties?.property_address || 'No address available' }}</span>
      </div>
      <div class="facilityIcon">
        <ion-grid *ngIf="showSecondRow">
          <ion-row class="ion-justify-content-around">
            <ion-col size="4" class="ion-text-center">
              <div class="icon-container">
                <img src="assets/bedroom.svg" alt="Bedroom" class="column">
                <p class="image-text">Bedroom-{{ properties?.bedroom_quantity}}</p>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="icon-container">
                <img src="assets/garbage.svg" alt="Garbage" class="column">
                <p class="image-text">Garbage Facility- {{ properties?.garbage === 1 ? 'Yes' : 'No' }}</p>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="icon-container">
                <img src="assets/hall.svg" alt="Hall" class="column">
                <p class="image-text">Hall-{{ properties?.hall}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-grid *ngIf="showFirstRow">
          <ion-row class="ion-justify-content-around">
            <ion-col size="4" class="ion-text-center">
              <div class="icon-container">
                <img src="assets/furnished.svg" alt="Furnished" class="column">
                <p class="image-text">{{ properties?.furnished === "1" ? 'Fully Furnished' : properties?.furnished === "2" ? 'Semi Furnished' : 'No Furnished' }}</p>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="icon-container">
                <img src="assets/electricity.svg" alt="Electricity" class="column">
                <p class="image-text">Electricity-{{ properties?.electricity === 1 ? 'Yes' : 'No' }}</p>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center">
              <div class="icon-container">
                <img src="assets/parking.svg" alt="Parking" class="column">
                <p class="image-text">Parking-{{ properties?.parking === 1 ? 'Yes' : 'No' }}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="more-details-container">
        <h2 class="more-details-heading">More Details</h2>
        <div class="details-row" *ngFor="let detail of propertyDetails">
          <span class="key">{{ detail.key }}:</span>
          <span class="value">{{ detail.value }}</span>
        </div>
      </div>

      <div>
        <h2 class="more-details-heading">Description</h2>
        <span class="description">{{properties?.property_desc}}
        </span>
      </div>

      <div class="amount-enquire-container">
        <div class="row">
          <div class="column total-amount">
            <span class="label">Total Amount</span>
            <span class="amount">{{ properties?.current_price || 'N/A' }}</span>
          </div>
          <div class="column enquire-button">
            <button class="enquire-btn" (click)="sendEnquiry(properties)">Enquire Now</button>
          </div>
        </div>
      </div>

    <ng-template #loading>
      <div class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Loading property details...</p>
      </div>
    </ng-template>
  </div>
  <app-footer></app-footer>
</ion-content>
