<ion-content class="ion-padding">
  <div class="image-container">
    <img src="assets/logo.png" alt="Logo" class="welcomeLogo"/>
  </div>
  <div class="image-container">
    <img src="assets/welcomeTop.png" alt="Logo" class="welcomeTop"/>
  </div>
  <div class="text-container">
      <div>
        <h4>
          <span class="welcomeText1">Welcome to</span><br>
          <span class="welcomeText1">Jabalpur realty venture</span>
        </h4>
      </div>
  </div>
  <div class="text-container1">
    <div>
      <h6>
        <span class="welcomeText2">Your one-stop destination for finding the </span><br>
        <span class="welcomeText2">best properties in Jabalpur.</span>
      </h6>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/Slider.png" alt="Logo" class="welcomeSlider"/>  
  </div>
  <div class="button-container">
    <button class="login-button">Log In</button>
    <button class="signup-button">I’m new, sign me up</button>
  </div>
  <div class="text-container2">
    <div>
      <h4>
        <span class="welcomeText3">By logging in or registering, you agree to our<br> <span class="welcomeText4">Terms of service</span> and <span class="welcomeText4">Privacy policy.</span></span><br>
      </h4>
    </div>
</div>
</ion-content>
