<div class="topBar">
  <!-- Sidebar (ion-menu) -->
    <ion-menu side="start" menuId="mainMenu" contentId="main-content" class="side-menu-custom-class">
      <ion-content>
        <!-- Sidebar content like links or options -->
        <ion-list>
          <ion-item button (click)="closeMenu()" class="menu-route">Home</ion-item>
          <ion-item button (click)="closeMenu()">Settings</ion-item>
          <ion-item button (click)="gotoPofile()">Profile</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Main content -->
    <div id="main-content"></div>

    <!-- Header with images -->
    <ion-header>
      <ion-toolbar color="white" class="toolbar_mine">
        <!-- Left Image (Open Sidebar) -->
        <ion-buttons slot="start" class="topRibbon">
          <ion-button (click)="openMenu()">
            <img src="assets/sidebar.png" alt="Menu Icon" />
          </ion-button>
        </ion-buttons>

        <!-- Center Image (visible when sidebar is closed) -->
        <ion-buttons slot="end" class="center-image-container">
          <ion-button>
            <img src="assets/ks.png" alt="Center Image" />
          </ion-button>
        </ion-buttons>

        <!-- Right Image -->
        <ion-buttons slot="end" class="topRibbon">
          <ion-button>
            <img src="assets/bell.png" alt="Right Image" />
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
</div>  