<div class="topBar">

    <!-- Header with images -->
    <ion-header>
      <ion-toolbar color="white" class="toolbar_mine">
        <!-- Left Image (Open Sidebar) -->
        <ion-buttons slot="start" class="topRibbon">
          <ion-button >
            <img src="assets/ks.png" alt="Center Image" />
          </ion-button>
        </ion-buttons>

        <!-- Center Image (visible when sidebar is closed) -->
        <ion-buttons slot="end" class="center-image-container">
          <ion-button>
            <!-- <img src="assets/ks.png" alt="Center Image" /> -->
             <span class="mainHeading">JABALPUR REALTY VENTURE</span>
          </ion-button>
        </ion-buttons>

        <!-- Right Image -->
        <ion-buttons slot="end" class="topRibbon">
          <ion-button>
            <img src="assets/bell.png" alt="Right Image" />
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
</div>  