<ion-content>
  <div class="profile-image-container">
    <div>
      <h1 class="editHeading">Edit Profile</h1>
    </div>
    <div class="imageDiv">
      <img [src]="profileImage" alt="Profile Image" class="profile-image" />
    </div>
    <div>
      <h1 class="editHeading1">{{ Username }}</h1>
    </div>
  </div>
  <div class="outerDiv">
    <!-- Form Fields -->
    <div class="profileForm">
      <form (ngSubmit)="submitProfile()" class="profileFormRelative">
        <ion-item class="itemForm">
          <ion-label position="floating" class="profileItem">Email</ion-label>
          <ion-input 
            [(ngModel)]="Email" 
            name="Email" 
            required 
            class="profileItemDetails"
            placeholder="Enter Email"
            readonly
            (click)="showEmailMessage = 'Email cannot be edited';">
          </ion-input>
          <ion-text *ngIf="showEmailMessage" color="medium" class="emailMessage">
            {{ showEmailMessage }}
          </ion-text>
        </ion-item>

        <ion-item class="itemForm">
          <ion-label position="floating" class="profileItem">Username</ion-label>
          <ion-input 
            [(ngModel)]="Username" 
            name="Username" 
            type="text" 
            required 
            class="profileItemDetails"
            (ionFocus)="clearPlaceholder('Username')"
            (ionBlur)="resetPlaceholder('Username')"
            [placeholder]="Username === '' ? 'Enter Username' : ''">
          </ion-input>
        </ion-item>
        
        <ion-item class="itemForm">
          <ion-label position="floating" class="profileItem">Phone</ion-label>
          <ion-input 
            [(ngModel)]="phone" 
            name="phone" 
            type="tel" 
            required 
            class="profileItemDetails"
            (ionFocus)="clearPlaceholder('Phone')"
            (ionBlur)="resetPlaceholder('Phone')"
            [placeholder]="phone === '' ? 'Enter Phone Number' : ''">
          </ion-input>
        </ion-item>
    
        <ion-item class="itemForm">
          <ion-label position="floating" class="profileItem">Gender</ion-label>
          <ion-select [(ngModel)]="gender" name="gender" required class="profileItemDetails" interface="popover" (ngModelChange)="setProfileImage()">
            <ion-select-option [value]="'0'">Male</ion-select-option>
            <ion-select-option [value]="'1'">Female</ion-select-option>
          </ion-select>
        </ion-item>
    
        <!-- Save Profile Button -->
        <div class="signupButton">
          <button expand="full" class="submit-button" type="submit">Save Profile</button>
        </div>

        <!-- Logout Button -->
        <div class="logoutButton">
          <button expand="full" class="logout-button" (click)="confirmLogout()">
            <ion-icon name="power" slot="start"></ion-icon><span class="powerIcon">Logout</span> 
          </button>
        </div>
      </form>
    </div>
  </div>  
  <app-footer></app-footer>
</ion-content>
