<ion-content [fullscreen]="true">
  <div class="outerDiv">
    <div class="heading-container">
      <h1 class="heading1">Verification</h1>
    </div>
    <div class="form-container">
      <form>
        <!-- Phone Number Input -->
        <ion-item class="input-item">
          <ion-label position="floating"class="numberText">Phone Verification</ion-label>
          <ion-label position="floating"class="numberText">Code will sent on <span class="numberText1">+91 - 12989200823 </span></ion-label>
          <div class="otp-container">
            <ion-input #otpInput class="otp-box" type="text" maxlength="1" [(ngModel)]="otp[0]" (input)="onInput($event, 0)" (keydown)="onKeydown($event, 0)"></ion-input>
            <ion-input #otpInput class="otp-box" type="text" maxlength="1" [(ngModel)]="otp[1]" (input)="onInput($event, 1)" (keydown)="onKeydown($event, 1)"></ion-input>
            <ion-input #otpInput class="otp-box" type="text" maxlength="1" [(ngModel)]="otp[2]" (input)="onInput($event, 2)" (keydown)="onKeydown($event, 2)"></ion-input>
            <ion-input #otpInput class="otp-box" type="text" maxlength="1" [(ngModel)]="otp[3]" (input)="onInput($event, 3)" (keydown)="onKeydown($event, 3)"></ion-input>
          </div>      
        </ion-item>
      </form>
    </div>
    <div class="otpAgain-preference">
      <span class="otpAgain">Didn't get OTP? Send OTP again.</span>
    </div>
    <div class="signupButton">
      <button class="signup-button" (click)="goToSignup()">Submit</button>
    </div>
  </div>
</ion-content>
