.heading-container {
margin-top: 20px; /* Adjust spacing to avoid overlap with icons */
flex-grow: 1; /* Ensures the content fills the screen */
}

.heading1 {
font-size: 29px;
font-weight: bold;
padding: 10px;
font-family: "Open Sans", sans-serif;
color: #181818;
}
.form-container {
width: 100%;
max-width: 400px;
}

.input-item {
border: none;
color: #181818;
--background: #ffffff;  /* White background for input field */
margin-bottom: 20px;      /* Add some space below the input field */
}

ion-label {
margin-bottom: 10px;  /* Add space between the label and the input field */
}

ion-input {
--padding-start: 10px; /* Add padding inside the input field */
}
ion-input.placeholderText{
margin-top: 40px;
height: 60px;
border-radius: 15px;
}
ion-label.numberText{
font-size: 21px;
color: #181818;
font-family: 'Open Sans', sans-serif; /* Set Open Sans as the default font */
}
.numberText1{
font-weight: bold;
}
.otpAgain-preference {
padding: 15px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 20px 0; /* Add space around */
}

.otpAgain {
flex-grow: 1;
font-size: 18px;
color: #181818;
font-family: 'Open Sans', sans-serif; /* Set Open Sans as the default font */
cursor: pointer; /* Makes it look clickable */
text-decoration: none; /* Removes underline by default */
}
.otpAgain:hover {
text-decoration: underline; /* Adds underline on hover */
}
.signupButton {
position: absolute;
bottom: 30px; /* 10px from the bottom */
left: 50%;
transform: translateX(-50%); /* Centers the button horizontally */
width: 90%; /* Makes the button span most of the width */
text-align: center;
}
.signup-button {
margin-top: 1.5rem;
background: linear-gradient(to right, #FB0303, #F8D814);
border: none;
color: white;
font-size: 1.2rem;
padding: 12px 24px;
border-radius: 30px;
cursor: pointer;
text-align: center;
width: 100%;
font-family: "Open Sans", sans-serif;
height: 3.5rem;
}
.otp-container {
display: flex; /* Align inputs in a row */
justify-content: center; /* Center the inputs horizontally */
gap: 40px; /* Add space between inputs */
margin-top: 50px; /* Add space above the container */
}

.otp-box {
width: 60px; /* Fixed width for each box */
height: 60px; /* Fixed height for each box */
text-align: center; /* Align text in the center */
font-size: 20px; /* Larger font for better visibility */
border: 1px solid black; /* Add a light border */
border-radius: 8px; /* Slightly rounded corners */
outline: none; /* Remove outline on focus */
background-color: #f9f9f9; /* Light background color */
}
.otp-box:focus {
border-color: #007bff; /* Highlight border on focus */
box-shadow: 0px 0px 8px #007bff; /* Glow effect on focus */
}
  
  

  