<ion-content>
  <app-sidebar></app-sidebar>
  <div class="outerDiv">
    <div class="firstImage">
      <div class="swiper-container first-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let image of images">
            <img [src]="image" alt="Image Below Header" class="below-header-image" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>



    <!-- Second Slider (Three slides per row) -->
    <!-- <div class="swiper-container category-slider second-slider button-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let category of categories">
          <button class="custom-button">
            <img src="assets/industrial.png" alt="Category Icon" class="iconCategory">
            <span class="categoryText">{{ category }}</span>
          </button>
        </div>
      </div>
    </div> -->
    <div class="swiper-container category-slider second-slider button-container">
      <div class="swiper-wrapper">
        <!-- Iterate over categories using *ngFor -->
        <div class="swiper-slide" *ngFor="let category of categories">
          <button class="custom-button" (click)="goToCategory(category)">
            <img src="assets/industrial.png" alt="Category Icon" class="iconCategory">
            <span class="categoryText">{{ category.name }}</span>
          </button>
        </div>
      </div>
    </div>
    
    <!-- Show message if no categories are available or found -->
    <div *ngIf="noPropertiesFound" class="no-properties-message">
      <p>No properties found for the selected category.</p>
    </div>
    
    <div class="featuredContainer">
      <span class="left">builder</span>
      <span class="right">Show All</span>
    </div> 
        <div class="swiper-container getBuilder-slider builderSlider">
          <div class="swiper-wrapper">
            <!-- Dynamic slides based on API response -->
            <div class="swiper-slide recentlyadded " *ngFor="let builder of builders">
                <div class="box">
                  <div class="box-content">
                    <img [src]="builder.BuilderLogo" alt="Image" class="buldingIcon" />
                  </div>
                  <div class="box-content">
                    <h2 class="headingIcon">{{ builder.BuilderName }}</h2>
                  </div>
                  <div class="box-content">
                    <ion-button expand="block" class="view-more" (click)="goToBuilder({ id: builder.ID, name: builder.BuilderName })">View More</ion-button>
                  </div>
                </div>
            </div>
          </div>
        </div>


    <!-- <div class="button-container1">
      <button class="custom-button1 button-one">
        <span class="imageText">POST YOUR REQUIREMENTS</span>
      </button>
      <button class="custom-button1 button-two">
        <img src="assets/discount.png" class="discountImage" alt=""><span class="imageText">ADD OFFER</span>
      </button>
    </div> -->


    
    <div class="featuredContainer">
      <span class="left">Featured Property</span>
      <span class="right">Show All</span>
    </div>



    <!-- Property Slider -->
    <div class="swiper-container property-slider mainSlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide recentlyadded" *ngFor="let property of properties">
            <div class="property-details">
              <img src="assets/building.png" alt="Category Icon" class="property-image">
              <div class="feturedSlider">
                <span class="property-title">{{ property.property_name }}</span>
                <div class="property-price">
                  <span class="old-new-price">
                    <span class="old-price">{{ property.current_price }}</span>
                    <span class="new-price">{{ property.previous_price }}</span>
                  </span>   
                </div>
                <div class="property-info">
                  <span class="property-address">{{ property.property_address }},{{ property.property_area }}</span>
                </div>
              </div>  
            </div>
        </div>
      </div>
    </div>

    <div class="featuredContainer">
      <span class="left">Today’s Deal</span>
      <span class="right">Show All</span>
    </div>


    <!-- todays deal slider Slider -->
    <div class="swiper-container todayDeal-slider mainSlider">
      <div class="swiper-wrapper">
        <!-- Iterate over the properties using *ngFor -->
        <div class="swiper-slide recentlyadded" *ngFor="let property of properties">
            <!-- Property Details -->
            <div class="property-details">
              
              <img src="assets/building.png" alt="Category Icon" class="property-image">
              <div class="feturedSlider">
                <span class="property-title">{{ property.property_name }}</span>
                <div class="property-price">
                  <span class="old-new-price">
                    <span class="old-price">{{ property.current_price }}</span>
                    <span class="new-price">{{ property.previous_price }}</span>
                  </span>   
                </div>
                <div class="property-info">
                  <span class="property-address">{{ property.property_address }},{{ property.property_area }}</span>
                </div>
              </div>  
            </div>
        </div>
      </div>
    </div>


    <div class="buildingImage">
      <img src="assets/building.png" alt="">
    </div>  
    <div class="featuredContainer">
      <span class="left">Recently Added</span>
      <span class="right">Show All</span>
    </div> 

    <div class="swiper-container Recentlyadded-slider mainSlider">
      <div class="swiper-wrapper">
        <!-- Iterate over the properties using *ngFor -->
        <div class="swiper-slide recentlyadded" *ngFor="let property of properties">
            <!-- Property Details -->
            <div class="property-details">
              
              <img src="assets/todayDeal.png" alt="Category Icon" class="property-image">
              <div class="feturedSlider">
                <span class="property-title">{{ property.property_name }}</span>
                <div class="property-price">
                  <span class="old-new-price">
                    <span class="old-price">{{ property.current_price }}</span>
                    <span class="new-price">{{ property.previous_price }}</span>
                  </span>   
                </div>
                <div class="property-info">
                  <span class="property-address">{{ property.property_address }},{{ property.property_area }}</span>
                </div>
              </div>  
            </div>
        </div>
      </div>
    </div>
    <!-- <ion-slides pager="true">
      <ion-slide>
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides> -->
    <!-- <div class="featuredContainer">
      <span class="left">Offers</span>
      <span class="right">Show All</span>
    </div>  -->
  </div>
  <app-footer></app-footer>
</ion-content>
