.topshuru{
  margin-top: 3rem;
}
.firstImage {
  text-align: center; /* Centers the image horizontally */
  margin: 0 auto; /* Ensures the div is centered if it has a max-width */
}

.below-header-image {
  max-width: 100%; /* Ensures the image does not overflow */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes any inline spacing issues */
  margin: 0 auto; /* Centers the image within the div */
  height: 160px;
  width: 400px;
} 
.button-container {
    display: flex; /* Aligns buttons in a row */
    justify-content: center; /* Centers the buttons horizontally */
    gap: 20px; /* Adds spacing between buttons */
    margin-top: 20px;
  }
  .buildingImage{
    width: 100%;
  }
  
  // .custom-button {
  //   height: 35px;
  //   display: flex; /* Allows image and text to be in a row */
  //   align-items: center; /* Vertically centers the content */
  //   padding: 10px 0px; /* Adds padding to the button */
  //   background-color: #f0f0f0; /* Default background color */
  //   border: 2px solid #ccc; /* Button border */
  //   border-radius: 5px; /* Rounded corners */
  //   cursor: pointer; /* Pointer cursor on hover */
  //   transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
  //   width:50%;
  // }
  
  // .custom-button img {
  //   width: 20px; /* Icon width */
  //   height: 20px; /* Icon height */
  //   margin-right: 5px; /* Space between image and text */
  // }
  
  // .custom-button span {
  //   font-family: "Open Sans", sans-serif;
  //   font-size: 10px; /* Button text size */
  //   color: #333; /* Default text color */
  //   text-align: center;
  // }
  
  // .custom-button:hover, 
  // .custom-button:active {
  //   background-color: red !important;
  //   color: white !important;
  // }
  
  // .custom-button:hover img, 
  // .custom-button:active img {
  //   filter: brightness(0) invert(1); /* Adjust icon color to match text */
  // }  
/* Container for the custom buttons */
.custom-button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 20px; /* Space between buttons */
    width: 100%; /* Full-width container */
  }
  
  /* Common styles for custom buttons */
  .custom-image-button {
    width: 100%; /* Full width */
    border: none; /* Remove border */
    border-radius: 40px; /* Optional: Rounded corners */
    background-size: cover; /* Ensure the background image covers the entire button */
    background-position: center; /* Center the background image */
    color: white; /* Text color */
    font-size: 20px; /* Font size for text */
    font-weight: bold; /* Make text bold */
    text-align: center; /* Center text horizontally */
    display: flex; /* Enable flexbox for centering */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center content */
    gap: 10px; /* Space between the image and text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: transform 0.3s ease; /* Add a smooth scaling effect */
    font-family: "Open Sans", sans-serif;
  }
  
  /* Styles for the image inside the second button */
  .button-two img {
    width: 30px; /* Set the image width */
    height: 30px; /* Set the image height */
    object-fit: contain; /* Ensure the image maintains its aspect ratio */
  }
  
  /* Hover effect for the custom buttons */
  .custom-image-button:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
    opacity: 0.9; /* Slightly dim the button */
  }
  
  .toolbar_mine {
    --border-width: 0px !important;
}

.iconCategory{
  margin: 0 2px;
}

.button-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}
.custom-button1 {
  width: 100%;
  height: 60px; /* Adjust as needed */
  margin: 10px 0;
  border: none;
  border-radius: 8px; /* Optional: for rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white; /* Default text color */
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.button-one {
  background-image: url('/assets/button1.png');
}

.button-two {
  background-image: url('/assets/button2.png');
}
img.discountImage {
  margin: 0 10px;
}
.featuredContainer {
  margin: 20px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left,.right{
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}
.left {
  color: #223263; /* Ionic primary color */
  font-size: 15px;
}

.right {
  color: #EFA318; /* Custom color */
  font-size: 12px;
  margin-right: 40px;
  font-size: 12px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  border: 2px solid #FF8000;
  border-radius: 10px;
  padding: 10px 0;
  margin: 0px 10px;
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// img.buldingIcon {
//   height: 80%;
//   width: 55%;
// }
h2.headingIcon {
  font-size: 15px;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

// .view-more {
//   border-radius: 20px;
//   --background: #FAAD25;
//   color: white;
//   font-family: "Open Sans", sans-serif;
//   width: 80%;
//   font-size: 15px;
// }

ion-slides {
  height: 100%; // Make slides cover full content area
}

ion-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

ion-slide img {
  max-width: 100%;
  max-height: 60%;
  margin-bottom: 20px;
}
.swiper-pagination-bullet {
  background-color: #ccc; /* Default color for inactive dots */
}

.swiper-pagination-bullet-active {
  background-color: #007bff; /* Color for the active dot */
}
.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  color: #808080;
  height: 40px;
  display: flex;
  padding: 10px 0px;
  background-color: #f0f0f0;
  border: 3px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  
  /* Center the text horizontally and vertically */
  justify-content: center;   /* Centers content horizontally */
  align-items: center;       /* Centers content vertically */
  text-align: center;        /* Ensures text is centered if multiline */
}

.custom-button:hover {
  background-color: white;
}

//property card

.property-card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.property-image {
  width: 230px;
  height: 120px;
  border-radius: 8px;
}

.property-title {
  color: #004680;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
}

.property-price {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-family: "Open Sans", sans-serif;
}

.old-price {
  font-size: 12px;
  text-decoration: line-through;
  color: red;
  font-family: "Open Sans", sans-serif;
  margin: 6px 0;
}

.new-price {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
}

.property-address {
  font-size: 12px;
  color: #8C8C8C;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}
.old-new-price {
  background-color: #FAAD25;
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  width: auto;
  height: 2.5rem;
}
.feturedSlider {
  padding: 10px 20px;
}
.property-details {
  position: relative;
  padding: 20px 0 0;
}
.property-icon {
  margin-top:10px;
  position: absolute;
  top: 10px;
  right: 10px; /* Aligns the icon to the right */
  z-index: 10;  /* Ensures the icon is on top */
}
.property-icon i {
  font-size: 24px;
  color: #333; /* Default color, can be changed */
  padding: 5px;
  border-radius: 50%;  /* Optional: Keeps the rounded shape, remove if not needed */
}
.property-icon i.fas {
  transition: color 0.3s ease;  /* Smooth color transition */
  color: red; /* Filled heart icon color */
}
.property-info {
  padding: 12px 0;
}

.recentlyadded{
  display: flex;
  justify-content: left !important;
}
.mainSlider{
  width: 70% !important;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buldingIcon {
  height: 60px;
  width: 65%;
}

.headingIcon {
  font-size: 1.5em;
  margin-top: 10px;
}

.view-more {
  border-radius: 20px;
  --background: #FAAD25;
  color: white;
  font-family: "Open Sans", sans-serif;
  width: 80%;
  font-size: 15px;
}
.builderslider{
  margin-top: 10px 0 !important;
}
.categoryText{
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
}