<ion-content>
  <app-sidebar></app-sidebar>
  <div class="outerDiv"> 
    <!-- Image below the header -->
    <div class="firstImage">
      <img src="assets/firstImage.png" alt="Image Below Header" class="below-header-image" />
    </div>
    <div class="button-container">
      <button class="custom-button">
        <img src="assets/commercial.png" alt="Icon 1" class="iconCategory"/>
        <span class="categoryText"(click)="goToSignup()">Commercial</span>
      </button>
      <button class="custom-button">
        <img src="assets/industrial.png" alt="Icon 2" class="iconCategory"/>
        <span class="categoryText">Industrial</span>
      </button>
      <button class="custom-button">
        <img src="assets/residential.png" alt="Icon 3" class="iconCategory"/>
        <span class="categoryText">Residential</span>
      </button>
    </div>
    <!-- <div class="button-container1">
      <button class="custom-button1 button-one">
        <span class="imageText">POST YOUR REQUIREMENTS</span>
      </button>
      <button class="custom-button1 button-two">
        <img src="assets/discount.png" class="discountImage" alt=""><span class="imageText">ADD OFFER</span>
      </button>
    </div> -->
    <div class="featuredContainer">
      <span class="left">Featured Property</span>
      <span class="right">Show All</span>
    </div>
    <div class="buildingImage">
      <img src="assets/building.png" alt="">
    </div>  
    <div class="featuredContainer">
      <span class="left">Recently Added</span>
      <span class="right">Show All</span>
    </div> 
    <div class="featuredContainer">
      <span class="left">builder</span>
      <span class="right">Show All</span>
    </div> 
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="box">
            <div class="box-content">
              <img src="assets/buildingLogo.png" alt="Image" class="buldingIcon"/>
            </div>
            <div class="box-content">
              <h2 class="headingIcon">xyz builder</h2>
            </div>
            <div class="box-content">
              <ion-button expand="block" class="view-more">View More</ion-button>
            </div>
          </div>
        </ion-col>
  
        <ion-col size="6">
          <div class="box">
            <div class="box-content">
              <img src="assets/buildingLogo.png" alt="Image" class="buldingIcon"/>
            </div>
            <div class="box-content">
              <h2 class="headingIcon">xyz builder</h2>
            </div>
            <div class="box-content">
              <ion-button expand="block" class="view-more">View More</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="featuredContainer">
      <span class="left">Offers</span>
      <span class="right">Show All</span>
    </div> 
  </div>
  <app-footer></app-footer>
</ion-content>
